<div class="nf-form-page">
  <div class="nf-form-card">
    <h1 class="nf-form-title">Sign up</h1>
    <p class="nf-form-subtitle">
      Create your NeighborFood account to give and receive home-made food nearby.
    </p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="nf-form-body">
        <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "given-name" } %>

        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "family-name" } %>

        <%= f.input :address,
                    required: true,
                    input_html: { autocomplete: "street-address" } %>

        <%= f.input :post_code,
                    required: true,
                    label: "Post code",
                    input_html: { autocomplete: "postal-code" } %>

        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" } %>

        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="nf-form-actions">
        <%= f.button :submit, "Sign up", class: "nf-btn nf-btn--primary" %>
      </div>
    <% end %>

    <div class="nf-form-meta">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
