<div class="nf-grid">
    <% @claims.each do |claim| %>
      <% food = claim.food %>

      <% if food.present? %>
        <article class="nf-card">
          <%= link_to food_path(food), class: "nf-card-media" do %>
            <% if food.photos.attached? %>
              <%= image_tag food.photos.first, alt: food.title, class: "img-fluid" %>
            <% else %>
              <div class="nf-card-ph"></div>
            <% end %>
          <% end %>
          <div class="nf-card-body">
            <h3 class="nf-card-title"><%= link_to food.title, food %></h3>
            <%# Optional tag example %>
            <div class="nf-card-tags">
              <%# replace with real tags later %>
            </div>
            <p class="nf-card-desc"><%= truncate(food.description.to_s, length: 80) %></p>
            
            <div class="nf-card-actions">
              <% user_review = food.reviews.find_by(user: current_user) %>
              <% if user_review.present? %>
                <%= link_to "My review", food_review_path(food, user_review), class: "nf-chip nf-chip" %>
               <%else%>
                <%= link_to "Leave a review", new_food_review_path(food), class: "nf-chip nf-chip--cta" %>
              <%end%>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>