<div class="container">
  <h1> Claim <%= @food.title %></h1>
  <div class="nf-grid mt-2">
    <%= form_with model: [@food, Claim.new], local: true do |form| %>
      <div class="mb-3 mt-4">
        <%= form.label :collect_time do %>
          <strong>Select a collection time:</strong>
        <% end %>
        <%= form.datetime_local_field :collect_time,
          value: (Time.current.change(min: 0) + 1.hour).strftime("%Y-%m-%dT%H:%M"),
          min: @food.start_time.strftime("%Y-%m-%dT%H:%M"),
          max: @food.end_time.strftime("%Y-%m-%dT%H:%M"),
          class: "form-control" %>
      </div>
      <div class="mb-3 mt-4">
        <%= form.submit "Claim Food", class: "nf-button border-0" %>
        <%= link_to "Back to food", foods_path, class: "nf-chip" %>
      </div>
    <% end %>

  </div>

</div>
