<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <%= render "shared/carousel", photos: @food.photos, alt: @food.title %>
  </div>
    <h1 class="mb-4"><%= @food.title %></h1>
    <p><%= @food.description %></p>
    <p><strong>Kind of food:</strong> <%= @food.kind_of_food.humanize %></p>
    <p><strong>Tags:</strong> <%= @food.tags.present? ? @food.tags.map(&:name).join(", ") : "None" %></p>
    <p><strong>Quantity:</strong> <%= @food.quantity %></p>
    <p><strong>Collection time:</strong> <%= @food.start_time.strftime("%H:%M") if @food.start_time %> - <%= @food.end_time.strftime("%H:%M") if @food.end_time %></p>
    <% if @food.kind_of_food == "groceries" %>
      <p><strong>Expire date:</strong> <%= @food.expire_date.strftime("%Y-%m-%d") if @food.expire_date %></p>
    <% else %>
      <p><strong>Cooking date:</strong> <%= @food.cooking_date.strftime("%Y-%m-%d") if @food.cooking_date %></p>
    <% end %>
    <p><strong>Posted by:</strong> <%= @food.user.first_name %> </p>
    <p class ="mb-4"><strong>Location:</strong> <%= @food.user.post_code %> </p>

    <%= link_to "Back to Foods", foods_path, class: "nf-button mt-3"  %>

    <!-- Map -->
    <div class ="mt-5" id="map" style="width:80%; height:400px; box-shadow: 0 0 10px #3f3f3fff; center;margin:auto;"
      data-controller="map"
      data-map-api-key-value="<%= ENV.fetch('MAPBOX_API_KEY','') %>"
      data-map-markers-value='<%= raw(@markers.to_json) %>'>
    </div>
</div>
