    <h4>Review the <%= @food.title %> that you saved!</h4>

    <%= form_with model: [@food, @review], local: true do |f| %>
        <div class="field mb-3 ">
        <%= f.label :rating %>
        <%= f.number_field :rating, in: 1..5 %>
        </div>

        <div class="field mb-3 ">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
        </div>

        <div class="field mb-3 ">
        <%= f.submit "Submit review" %>
        </div>
    
    <%= link_to "Back to my claims", user_path(current_user, tab: "claims"), class: "nf-chip" %>
    
    <% end %>