<!DOCTYPE html>
<html>
  <head>
    <title>Neighborfood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <script>
      // set token from a Rails ENV variable that you've set on Heroku
      mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
    </script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <!-- Everything below the navbar -->
    <main class="nf-page-wrapper">
      <!-- Flash messages -->

      <!-- Main page content -->
      <%= yield %>
    </main>

    <!-- Mobile bottom nav (shown on every page, hidden on desktop via CSS) -->
    <%= render "shared/tabbar" %>

    <%= render "shared/post_fab" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
